*~
Makefile
*.o
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
cmake_uninstall.cmake
build/
mpdcast_dab/__pycache__/
mpdcast_dab/mpdcast/__pycache__/
mpdcast_dab/dabserver/__pycache__/
mpdcast_dab/dabserver/welle_io.*.so
