*~
Makefile
*.o
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
cmake_uninstall.cmake
build/
mpdcast_dab/__pycache__/
mpdcast_dab/cast_sender/__pycache__/
mpdcast_dab/welle_python/__pycache__/
mpdcast_dab/welle_python/welle_io.*.so
