Source: mpdcast-dab
Section: devel
Priority: optional
Maintainer:  Lamarqe <lamarqe@gmail.com>
Build-Depends: git, cmake, build-essential, g++, pkg-config, dh-make, dh-python, python3-dev, python3-hatchling, dh-sequence-python3, pybuild-plugin-pyproject, libfftw3-dev, libfaad-dev, librtlsdr-dev, pybind11-dev
Homepage: https://github.com/Lamarqe/mpdcast-dab

Package: mpdcast-dab
Architecture: any
Depends: librtlsdr2, mpd, python3-mpd, python3-aiohttp, python3-pychromecast
Description: MPD to Google cast streaming application
 MPD to Google cast streaming application with support for DAB+ radio 
