[Unit]
Description=MPD to Google cast streaming application with support for DAB+ radio
After=network.target

[Service]
ExecStart=/usr/bin/mpdcast_dab
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target

