#!/usr/bin/make -f


export PYBUILD_NAME = mpdcast-dab

# secondly called by launchpad
build:
	mkdir build
	cd build; cmake ..
	make -C build

# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

binary-arch:
	dh $@ --with python3,systemd --buildsystem=pybuild

# firstly called by launchpad
clean:
	rm -f build

.PHONY: binary binary-arch binary-indep clean
